.works {
    padding-bottom: 2rem;
}

.head {
    position: relative;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    color: #ffffff;
    border-radius: 1.25rem;
    user-select: none;
    background-color: #0070f3;
}
