.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -2rem -4rem 0;
    padding: 4rem 1rem;
}

.backToHome {
    margin: 3rem 0 0;
    position: fixed;
    bottom: 4rem;
    left: 2rem;
    font-size: 1.25rem;
    z-index: 999;
}

@media (max-width: 720px) {
    .backToHome {
        left: 1rem;
    }
}

.body {
    padding: 2rem 4rem;
}

@media (max-width: 480px) {
    .body {
        padding: 2rem 1rem;
    }
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-weight: bold;
    font-size: .95rem;
    text-align: center;
    color: #91a1ff;
    padding: 0;
    left: 0;
}